/* @Imports */

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');

/* START CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* END CSS RESET */

body {
  text-align: center;
  font-family: 'Bitcount Grid Double', system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  font-variation-settings:
    'slnt' 0,
    'CRSV' 0.5,
    'ELSH' 0,
    'ELXP' 0;

  background-color: #360185;
}

header {
  margin: 1.5rem;
}

h1 {
  color: #de1a58;
  font-weight: bold;
}

input {
  border: 2px solid #8f0177;
  border-radius: 4px;
  background-color: #360185;
  color: #8f0177;
  width: 3rem;
}

input:focus {
  outline: none;
}

button {
  border: 2px solid #8f0177;
  border-radius: 4px;
  color: #8f0177;
  background-color: transparent;
}

.high-score,
.score {
  color: #f4b342;
}

.problem {
  color: #8f0177;
}

.hidden {
  display: none;
}
